# Port number
PORT=3000

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# BOCHK UMS
# URL of the BOCHK UMS login page
BOCHK_UMS_DOMAIN = https://eip.bochk.com
BOCHK_UMS_LOGIN_URL = /ewp/ewp_main.jsp
BOCHK_UMS_AUTH_CALLBACK_URL = /ewp/AuthCallback
BOCHK_UMS_SYSCODE = bocums
BOCHK_UMS_APP_ID = igsl1234

NEO4J_URL = localhost
NEO4J_USER = neo4j
NEO4J_PASSWORD = neo4j
NEO4J_DATABASE = neo4j
NEO4J_SAVE_PASSWORD = false
NEO4J_USE_ENCRYPTION = false
