# Port number
PORT=3000

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# BOCHK UMS
# URL of the BOCHK UMS login page
BOCHK_UMS_DOMAIN = https://eip.bochk.com
BOCHK_UMS_LOGIN_URL = /ewp/ewp_main.jsp
BOCHK_UMS_AUTH_CALLBACK_URL = /ewp/AuthCallback
BOCHK_UMS_SYSCODE = bocums
BOCHK_UMS_APP_ID = igsl1234
BOCHK_UMS_ALLOWED_ACCESS_SYSRIGHTS = ["IT", "ML"]
BOCHK_UMS_ALLOWED_TO_ACCESS_NEO4J_EXPLORER_SYSRIGHTS = ["IT"]
BOCHK_UMS_SHOULD_SIMULATE_UMS_APP = false

# BOCHK decrypt employee number Config
BOCHK_UMS_DECRYPT_EMPNUM_JAR_LOCATION = /opt/nodejs/jar/EwpEncrypt.jar
BOCHK_UMS_DECRYPT_EMPNUM_JAR_CLASS_NAME = ewp.comm.EwpEncrypt
BOCHK_UMS_SHOULD_DECRYPT_EMP_NUM_WITH_JAR = false

# BOCHK graphML2CSV Config
BOCHK_GRAPH2CSV_JAR_LOCATION = /opt/ngp/nodejs/jar/GraphML2CSV.jar
BOCHK_GRAPH2CSV_OUTPUT_FOLDER_PATH = /opt/ngp/nodejs/auth_app/src/tmp
BOCHK_GRAPH2CSV_OUTPUT_FILE_TYPE = CSV
BOCHK_GRAPH2CSV_IS_UUID = Y

# BOCHK Neo4j Connection Mapping JSON Filepath Array
BOCHK_NEO4J_SYSRIGHT_MAPPING_FILEPATH_ARRAY = ["/opt/nodejs/sources/bochk_auth_app/resources/json/neo4jConn.json"]

# BOCHK Data Explorer Cypher Sample Queries JSON Filepath Array
BOCHK_CYPHER_SAMPLE_QUERIES_LIMITATION = 300
BOCHK_CYPHER_SAMPLE_QUERIES_MAPPING_FILEPATH_ARRAY = ["/opt/nodejs/sources/bochk_auth_app/resources/json/cypherQueries01.json", "/opt/nodejs/sources/bochk_auth_app/resources/json/cypherQueries02.json"]

# BOCHK Neo4j Browser
BOCHK_NEO4J_BROWSER_REDIRECT_URL = /neo4j/browser/
BOCHK_NEO4J_BROWSER_DATABASE_HOST_MAPPING_ARRAY = ["/opt/nodejs/sources/bochk_auth_app/resources/json/neo4jBrowserDBHostMappings.json"]
BOCHK_NEO4J_BROWSER_ADMIN_USER_GROUP_SYSRIGHTS = ["IT"]
BOCHK_NEO4J_BROWSER_READER_USER_GROUP_SYSRIGHTS = ["ML"]
